@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
}

a {
  color: #666666;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo img{
  width: 200px;
  padding-top: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Poppins', sans-serif;  
  background: #FFFFFF;
  height: 8vh;
  margin-bottom: 15px;
}


.nav-list {
  list-style: none;
  display: flex;
  
}

.nav-list li {  
    padding-top: 20px;
    margin-left: 32px;
}
.nav-list li a.cliente{
    padding: 10px 20px;
    background: #FF6600;
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 500;
}
.nav-list li a i{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  color: white;
  border: 1px solid #FF6600;
  background-color: #FF6600;
  width: 35px;
  height: 35px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu{
    padding-top: 25px;
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #FF6600;
  margin: 8px;
  transition: 0.3s;
 
}

.banner{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    background: #FF6600;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    position: relative;
}
.banner .banner1{
  padding-top: 70px;
}

.banner h1{
    font-size: 100px;
    font-weight: 600;
    color: #FFFFFF;
    width: 50%;
    margin-left: 14%;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;  

}
.banner p{
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
  margin-left: 14%;
  text-transform: uppercase;
  padding-top: 10px;
  font-family: 'Poppins', sans-serif;  
}
.banner button{
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border: transparent;
  padding: 20px 30px;
  letter-spacing: 3px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #FFFFFF;
  background-color: #1B304D;
  margin-left: 14%;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;  
  margin-top: 10px;
}
 
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;  
  margin-bottom: 20px;
}
.title i{
  font-size: 60px;
  margin-bottom: 10px;
}
.title h1{
  margin-bottom: 15px;
}

.planos{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.planos1{
  background: #FF6600;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid black;
  width: 300px;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.planos1 img{
  padding-top: 20px;
}
.planos1 h2,
.planos1 h3{
  font-family: 'Poppins', sans-serif;  
  padding-top: 10px;
}

.planos1 h3{
  color: #1B304D;
  font-size: 30px;
  border-bottom: 1px solid #1B304D;
}

.planos1 p{
  width: 90%;
  text-align: center;
  font-family: 'Poppins', sans-serif;  
  margin-bottom: 10px;

}
.planos1 label{
  font-family: 'Poppins', sans-serif;  
  margin-bottom: 10px;
}
.planos1 h4{
  font-family: 'Poppins', sans-serif;  
  text-align: center;
  margin-bottom: 20px;
}

.planos1 button{
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border: transparent;
  padding: 10px 15px;
  letter-spacing: 3px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #FFFFFF;
  background-color: #1B304D;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;  

}
.planos1.planos2{
  background: #fff;
  border: 1px solid black;
}

.free{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  font-family: 'Poppins', sans-serif;  

}
.free .free1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 130px;
}
.free .free1 .free2 h2{
  font-size: 40px;
  margin-bottom: 10px;
}
.free .free1 .free2 p{
  font-size: 20px;
}
.free .free1 .free2 .free3 i{
  color: #34af23;
  padding: 10px;
}
.free .free1 .free2 .free3{
  display: flex;
  flex-direction: column;
}
.free .free1 img{
  width: 600px;
}

.services{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;  
  color: #fff;
}
.services .services1{
  display: flex;
  padding: 30px;
  align-items: center;
  flex-direction: column;
  background:#1B304D;
  width: 250px;
  height: 250px;
  margin: 10px;
  border-radius: 15px;
}
.services .services1 i{
  font-size: 60px;
  margin-bottom: 15px;
}
.services .services1 h2{
  text-align: center;
}
.services .services1 p{
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.call{
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;  
  width: 100%;
  display: flex;
  justify-content: center;
  background: #fff;
}

.call .contato{
  margin: 30px;
}
.call .contato .contato1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.call .contato .contato1 i{
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.call .contato .contato1 h2{
  font-size: 20px;
}
.call .contato .contato1 p{
  font-size: 15px;
}

.call .contato .forms{
  display: flex;
  flex-direction: column;
}
.call .contato .forms label{
  font-size: 15px;
  font-weight: 600;
}
.call .contato .forms input,
.call .contato .forms textarea{
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #1B304D;
  background: #1B304D;
  color: #fff;
}
.call .contato .forms button{
  padding: 10px;
  width: 20%;
  border: transparent;
  border-radius: 10px;
  text-align: center;
  background-color: #34af23;
  
}

footer{
  display: flex;
  background-color: #1B304D;
  height: 200px;
  width: 100%;
  color: #fff;
  font-family: 'Poppins', sans-serif;  

}
footer .foot h2{
  font-size: 20px;
}
footer .foot p.about{
  width: 80%;
}
footer .foot p{
  font-size: 15px;
}
footer .foot i{
  font-size: 30px;
  padding-right: 20px;
}
footer .foot{
  margin: 50px;
}











.btn-whatsapp i{
  color: #FFFFFF;
}
.btn-whatsapp {
  position: fixed;
  outline: none;
  bottom:30px;
  right: 30px;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  cursor: pointer;
  background-color: #34af23;
  color:  #FFF;
  font-size: 2.3rem;
  border: 1px solid transparent;

  animation-name: pulsar;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}



@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: fixed;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 150;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .nav-list li a.cliente{
      margin-left: 32px;
      padding: 5px 5px;
      display: block;
      margin-right: 32px;
  }
  .mobile-menu {
    display: block;
    
  }
  .banner h1{
    font-size: 40px;
    width: 80%;

  }
  .title{
    text-align: center;
  }
  
  .planos{
    flex-wrap: wrap
  }
  .call{
    flex-wrap: wrap;
  }
  footer{
    flex-wrap: wrap;
    height:100%;
  }
  .free{
    flex-wrap: wrap;
    height: 100%;
  }
  .free .free1 img{
    width: 300px;
  }
  .services{
    flex-wrap: wrap;
  }
}


.nav-list.active {
  transform: translateX(0);
}
@media (min-width: 999px) {
  .banner1 h1{
    font-size: 60px;
    margin-left: 12%;
  }
  .banner1 p,
  .banner1 button{
    margin-left: 12%;
  }
}


@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pulsar{
  0% {
    height: 65px;
    width: 65px;
  }
  100% {
    height: 85px;
    width: 85px;
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
