@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
}

html{
  scroll-behavior: smooth;
}

a {
  color: #666666;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

nav{
  font-family: 'Poppins', sans-serif;  
  background: #fff;
  height: 80px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 240px;
  padding-top: 10px;
}
nav ul{
  display: flex;
  justify-content: center;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #000;
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 3px;
}
li a.active, li a:hover{
  background: #FF6600;
  color: white;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: #000;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}


.banner{
    width: 100%;
    /* height: 70vh; */
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-image: url(Banne.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 25px;
    /* clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%); */
}
/* .banner .banner1 img{
  width: 490px;
} */
.banner .banner1{
  padding-top: 70px;
}

.banner h1{
    font-size: 100px;
    font-weight: 600;
    color: #FFFFFF;
    width: 50%;
    margin-left: 14%;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;  

}
.banner p{
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
  margin-left: 14%;
  text-transform: uppercase;
  padding-top: 10px;
  font-family: 'Poppins', sans-serif;  
}
.banner button{
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border: transparent;
  padding: 20px 30px;
  letter-spacing: 3px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #FFFFFF;
  background-color: #34af23;
  margin-left: 14%;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;  
  margin-top: 10px;
}
 
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;  
  margin-bottom: 20px;
}
.title i{
  font-size: 60px;
  margin-bottom: 10px;
}
.title h1{
  margin-bottom: 15px;
}

.planos{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.planos1{
  background: #FF6600;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid black;
  width: 300px;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.planos1 img{
  padding-top: 20px;
}
.planos1 h2,
.planos1 h3{
  font-family: 'Poppins', sans-serif;  
  padding-top: 10px;
}

.planos1 h3{
  color: #071B66;
  font-size: 30px;
  border-bottom: 1px solid #1B304D;
}

.planos1 p{
  width: 90%;
  text-align: center;
  font-family: 'Poppins', sans-serif;  
  margin-bottom: 10px;

}
.planos1 label{
  font-family: 'Poppins', sans-serif;  
  margin-bottom: 10px;
}
.planos1 h4{
  font-family: 'Poppins', sans-serif;  
  text-align: center;
  margin-bottom: 20px;
}

.planos1 button{
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border: transparent;
  padding: 10px 15px;
  letter-spacing: 3px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #FFFFFF;
  background-color: #34af23;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;  

}
.planos1.planos2{
  background: #fff;
  border: 1px solid black;
}

.gratis{
  margin: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;  

}
.gratis .gratis1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%; 
}

.gratis .gratis1 p{
  width: 60%;
}
.gratis .gratis1 .gratis2{
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}
.gratis .gratis1 .gratis2 i{
  padding-left: 35px;
  padding-right: 10px;
  font-size: 30px;
}

.gratis .gratis1 img{
  
  width: 600px;
}

.services{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;  
  color: #fff;
}

.services .services1{
  display: flex;
  padding: 30px;
  align-items: center;
  flex-direction: column;
  background:#34af23;
  width: 250px;
  height: 250px;
  margin: 10px;
  border-radius: 15px;
}
.services .services1 i{
  font-size: 60px;
  margin-bottom: 15px;
}
.services .services1 h2{
  text-align: center;
}
.services .services1 p{
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.call{
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;  
  width: 100%;
  display: flex;
  justify-content: center;
  background: #fff;
}

.call .contato{
  margin: 30px;
}
.call .contato .contato1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.call .contato .contato1 i{
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.call .contato .contato1 h2{
  font-size: 20px;
}
.call .contato .contato1 p{
  font-size: 15px;
}

.call .contato .forms{
  display: flex;
  flex-direction: column;
}
.call .contato .forms label{
  font-size: 15px;
  font-weight: 600;
}
.call .contato .forms input,
.call .contato .forms textarea{
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #DCDCDC;
  background: #DCDCDC;
  color: #000;
}
.call .contato .forms button{
  font-size: 14px;
  width: 30%;
  text-align: center;
  cursor: pointer;
  border: transparent;
  padding: 10px 15px;
  letter-spacing: 3px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #FFFFFF;
  background-color: #34af23;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  
}

.descricao{
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;

}

.descricao p{
  width: 50%;
  text-align: center;
  padding: 10px;
}
.sobre{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;

}
.sobre .sobre1 img{
  width: 700px;
}
.sobre .sobre1 .sobre2{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background: linear-gradient(90deg, #071B66 0%, #00338C 39.95%, #1533C0 100%);
  color: white;
  margin: 10px;
  border-radius: 10px;
  width: 400px;
  height: 200px;
}

.sobre .sobre1 .sobre2 h2{
  padding: 15px;
  letter-spacing: 3px;
}

.sobre .sobre1 .sobre2 p{
  padding-left: 20px;
  padding-right: 20px;

}
footer{
  display: flex;
  background: linear-gradient(90deg, #071B66 0%, #00338C 39.95%, #1533C0 100%);
  height: 150px;
  width: 100%;
  color: #fff;
  font-family: 'Poppins', sans-serif;  

}
footer .foot h2{
  font-size: 20px;
}
footer .foot p.about{
  width: 90%;
}
footer .foot p{
  font-size: 15px;
}
footer .foot i{
  font-size: 30px;
  padding-right: 30px;
  color: #fff;
  padding-top: 15px;
  
}
footer .foot .icon{
  margin-left: 50px;
}
footer .foot{
  margin: 40px;
}
footer .foot.foot1{
  text-align: center;
}
footer .foot.foot1 p{
  padding: 5px;
  transition: 1s;
  cursor: pointer;
}
footer .foot.foot1 a{
  text-decoration: none;
  color: white;
}
footer .foot.foot1 p.central{
  color: #FF6600;
}
footer .foot.foot1 p:hover{
  text-decoration: underline;
  color: #666666;
}
footer img{
  width: 200px;
  margin-top: 5px;
}











.btn-whatsapp i{
  color: #FFFFFF;
}
.btn-whatsapp {
  position: fixed;
  outline: none;
  bottom:30px;
  right: 30px;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  cursor: pointer;
  background-color: #34af23;
  color:  #FFF;
  font-size: 2.3rem;
  border: 1px solid transparent;

  animation-name: pulsar;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}



@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: fixed;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 150;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .nav-list li a.cliente{
      margin-left: 32px;
      padding: 5px 5px;
      display: block;
      margin-right: 32px;
  }
  .mobile-menu {
    display: block;
    
  }
 /*  .banner h1{
    font-size: 40px;
    width: 80%;

  } */
  .title{
    text-align: center;
  }
  
  .planos{
    flex-wrap: wrap
  }
  .call{
    flex-wrap: wrap;
  }
  footer{
    flex-wrap: wrap;
    height:100%;
    width: 100%;
  }
  .free{
    flex-wrap: wrap;
    height: 100%;
  }
  .free .free1 img{
    width: 300px;
  }
  .gratis{
    flex-wrap: wrap;
    margin: 20px;
  }
  .gratis .gratis1 p{
    width: 90%;
    
  }
  .gratis .gratis1{
    width: 100%;
  }
  .gratis .gratis1 img{
    padding-top: 20px;
    width: 400px;
    margin-bottom: 20px;
  }
  .services{
    flex-wrap: wrap;
  }
  .contato .forms{
    margin-right: 15px;
  }
  .sobre .sobre1 img{
    width: 400px;
  }
  .descricao p{
    width: 100%;
  }
  .sobre .sobre1 .sobre2{
    width: 380px;
    height: 180px;
  }
  
}


.nav-list.active {
  transform: translateX(0);
}


@media (max-width: 999px) {
  .banner{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
  }
  .banner h1{
    font-size: 20px;
    width: 100%;
    margin-left: 6%;
    
  }
  .banner .banner1{
    padding-top: 13px;
  }
  .banner p{
    font-size: 10px;
    margin-left: 6%;
  }
  .banner button{
    margin-left: 6%;
    padding: 5px 10px;
    font-size: 7px;
    letter-spacing: 0px;
    width: 100%;
  }
  .banner .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
    
  }
}
/* @media (min-width: 999px) {
  .banner1 h1{
    font-size: 100px;
    margin-left: 12%;
  }
  
  .banner1 p,
  .banner1 button{
    margin-left: 12%;
  }
} */

@media (max-width: 952px){
  nav ul li a{
      font-size: 16px;
  }
}

@media (max-width: 858px){
  .checkbtn{
      display: flex;
  }
  nav{
      padding: 0 30px;
  }
  ul{
      position: absolute;
      width: 100%;
      height: calc(100vh - 80px);
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      flex-direction: column;
      z-index: 10;
  }
  nav ul li{
      margin: 20px 0;
  }
  nav ul li a{
      font-size: 20px;
      color: #fff;
  }
  #check:checked ~ ul{
      left:0;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pulsar{
  0% {
    height: 65px;
    width: 65px;
  }
  100% {
    height: 85px;
    width: 85px;
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
