.navbar {
    width: 100%;
    height: 100px;
    background-color:var(--color-azul-claro);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border: none;
    
}

.navbar .menu{
    display:flex;
    align-items: center;
}

.navbar .menu a {
    padding: 15px 25px;
    color: var(--color-branco);
    transition: 1s;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;  
}

.menu a:hover{
    border-radius: 10px;
    background:var(--color-amarelo);
    color:var(--color-preto);
    opacity: 80%;
}

.navbar .logo img{
    width: 200px;
    padding: 10px;
}

.menu .sub-menu a {
    border-radius: 10px;
    background: var(--color-amarelo);
    color: var(--color-preto);
    transition: 1s;
}

.menu .sub-menu a:hover {
    opacity: 80%;
    color: white;
}
/*PLANOS*/
.planos{
    width: 100%;
    height: 100%;
    padding: 65px 8%;
    margin-left: 20px;
    
    
}

.plan{
    display: inline-block;
    width: 350px;
    border: 1px solid #c4c4c4;
    text-align: center;
    padding: 45px 35px;
    margin-right: 45px;
    color: var(--color-branco);
    background: var(--color-azul-claro);
    border-radius: 15px;
    border:none;
    transition: 1s;
}

.plan:hover{
    transform:scale(1.1,1.1) ;
}

.plan p.namePlan{
    line-height: 0.6;
    font-size: 50px;
    font-weight: 700;
}

.plan p.namePlan span{
    font-size: 20px;
    font-weight: 100;
}

.nameFibra{
    font-size: 30px;
    font-weight: 700;
}

.franquia{
    border-bottom: 1px dashed var(--color-branco);
    padding: 20px;
}

.botao{
    background-color: var(--color-amarelo);
    font-family: 'Poppins';
    text-transform: uppercase;
    padding: 8px 30px;
    color: var(--color-preto);
    border-radius: 5px;
    font-size: 12px;
    border: 0;
    cursor: pointer;
    transition: 1s;
    
}

.botao:hover{
    opacity: 80%;
    color: var(--color-verde);
}